
footer{
    position: relative;
    width: 100%;
    min-height: 60vh;
    /* bottom: 0; */
    background: #377899;
    color: var(--fg);
  }
  
  footer .container{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 350px;
    padding: 5%;
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  /* @media (max-width:1100px){
    footer .container{
      align-items: flex-start;
    }
  } */
  
  footer .container .design{
    padding: 10px;
    border-radius: 5px;
    width: 20%;
  }
  
  footer .container .design .title{
    position: relative;
    width: fit-content;
    width: -moz-max-content;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 1.2rem;
  }

  @media (min-width:801px){
    /* underline for desktop and tablets */

    footer .container .design .expand-btn{
      display: none;
    }
    footer .container .design .title::before{
      content: '';
      position: absolute;
      bottom: -5px;
      height: 3px;
      border-radius: 5px;
      width: 100%;
      background: var(--primary);
    }
  }
  
  footer .container .design .items{
    margin-bottom: 5px;
    font-size: 0.95rem;
    color: hsla(var(--secondary-hsl),0.7);
    word-break: break-word;
  }
  footer .container .design.contact .items{
      margin-bottom: 10px;
  }
  footer .container .design .items.main{
    color: var(--fg);
    margin-bottom: 2px;
    
  }

  footer .container .social{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 250px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  footer .container .social .social-btn{
    flex-shrink: 0;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--bg);
    color: #68a3c0;

    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
  }

  footer .credits{
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
    height: 70px;
    border-top: 3px solid hsla(var(--secondary-hsl),0.1);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer .credits .logo{
    cursor: pointer;
    height: 50px;
  }
  footer .credits .logo img{
    height: 100%;
    object-fit: cover;
  }
  footer .credits .claim{
    opacity: 0.7;
  }
  footer .credits .docs{
    font-size: 0.85rem;
  }
  footer .credits .docs a{
    color: hsla(var(--secondary-hsl),0.7);
    text-decoration: none;
  }
  footer .credits .docs a:hover{
    color: var(--fg);
  }


  @media (min-width: 1100px){
    
    footer .container .social .social-btn:hover{
      transform: scale(1.1);
      background: var(--fg);
      color: var(--bg);
      box-shadow: 0 0 5px var(--primary);
  
    }
  }


@media (max-width:800px){

  footer .container{
    flex-direction: column;
    min-height: 300px;
  }

  footer .container .design{
    position: relative;
    width: 100%;
    margin-bottom: 5px;
  }

  footer .container .design .expand-btn{
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%,10%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: hsla(var(--secondary-hsl),0.8);
    background: hsla(var(--secondary-hsl),0.1);
    transition: all 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer .container .design .items{
    display: none;
  }

  footer .container .social{
    position: static;
    transform: translateX(0);
    margin: 0 auto;
    width: 250px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    -webkit-tap-highlight-color: transparent;
  }


  footer .credits{
    min-height: 100px;
    box-sizing: content-box;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}