.section-1{
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section-1 .title{
  font-size: 3.7rem;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #003b58;
  text-align: center;
  width: 700px;
}
.section-1 .btn-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.section-1 .btn-cont .btn{
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--fg);
  transition: all 0.3s;
}

.section-1 .btn-cont .btn:last-child{
  background: #333;
  color: var(--fg);
}

.section-1 img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width:500px){
  .section-1{
    height: 280px;
    gap: 0px;
  }
  .section-1 .title{
    font-size: 2rem;
    -webkit-text-stroke-width: 0.2px;
    width: 90%;
  }
  .section-1 .btn-cont{
    gap: 40px;
  }
  .section-1 .btn-cont .btn{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    background: white;
    transition: all 0.3s;
  }

}
@media(min-width:700px){
  .section-1 .btn-cont .btn:hover{
    background: #68a3c0;
    color: #fff;
  }
  .section-1 .btn-cont .btn:last-child:hover{
    color: var(--bg);
  }
}


.home {
  padding: 100px 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home .content {
  color: var(--fg);
  width: 30%;
}
.home .content h1.title {
  margin-bottom: 20px;
}
.home .content p {
  font-size: 1.2rem;
}

.home .image {
  position: relative;
  width: 250px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home .image::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid var(--blue);
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.home .image::after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid var(--blue);
  border-right-color: transparent;
  border-top-color: transparent;
}

.home .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 500px) {
  .home {
    padding: 40px 30px;
    flex-direction: column;
    gap: 50px;
  }
  .home .content {
    color: var(--fg);
    width: 100%;
  }
  .home .content h1.title {
    margin-bottom: 20px;
  }
  .home .content p {
    font-size: 0.9rem;
  }
  .home .image {
    width: 200px;
    height: 250px;
  }
  .home .image::before {
    content: "";
    position: absolute;
    top: -10%;
    left: 60%;
    width: 100px;
    height: 100px;
    border: 3px solid var(--blue);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  .home .image::after {
    content: "";
    position: absolute;
    bottom: -10%;
    right: 60%;
    width: 100px;
    height: 100px;
    border: 3px solid var(--blue);
    border-right-color: transparent;
    border-top-color: transparent;
  }
}
