.resources {
  padding: 0px 50px 100px;

  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resources .card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.resources .card {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: var(--bgl);
  color: var(--blue);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  cursor: pointer;
  transition: all 0.3s;
}

.resources .card:hover {
    color: var(--bgl);
  background: var(--bluel);
}

.resources .card i {
  font-size: 3.5rem;
}

.resources .card h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
    .resources {
        /* padding: 0px 50px 100px; */
        gap: 30px;
      }
      .resources .card-container {
        flex-direction: column;
        gap: 30px;
      }
      .resources .card {
        width: 160px;
        height: 160px;
        border-radius: 15px;
        gap: 20px;
      }
      .resources .card i {
        font-size: 2.5rem;
      }
      
      .resources .card h1 {
        font-weight: 600;
        font-size: 1.2rem;
      }
}
