.section-2 {
  --primary: #68a3c0;
  min-height: 80vh;
  padding: 100px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 100px;
}

.section-2 .left-container {
  width: 700px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-2 .right-container {
  width: 300px;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section-2 .map {
  width: 100%;
  box-sizing: border-box;
  padding: 0 13%;
  height: 400px;
}

.section-2 .left-container .title {
  font-size: 2.2rem;
  font-weight: 600;
}
.section-2 .left-container .form-container {
  width: 90%;
  min-height: 100px;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 25px;
}
.section-2 .left-container .form-container input {
  width: 300px;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
  background: #111;
  color: var(--fg);
  caret-color: var(--fg);
  border: 3px solid var(--primary);
  border-radius: 4px;
  outline: none;

  padding-left: 10px;
  transition: border 0.3s;
}
.section-2 .left-container .form-container textarea {
  width: 100%;
  min-height: 220px;
  max-height: 300px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
  background: #111;
  color: var(--fg);
  caret-color: var(--fg);
  border: 3px solid var(--primary);
  border-radius: 4px;
  outline: none;

  padding: 10px;
  transition: border 0.3s;
  resize: vertical;
}
.section-2 .left-container .form-container input:focus {
  border: 3px solid #377899;
}
.section-2 .left-container .form-container textarea:focus {
  border: 3px solid #377899;
}
.section-2 .left-container .form-container input[type="submit"] {
  background-color: #377899;
  color: var(--fg);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-left: initial;
  transition: background-color 0.3s;
}
.section-2 .left-container .form-container input[type="submit"]:hover {
  background-color: var(--primary);
}

.section-2 .right-container .image {
  width: 100%;
  border-radius: 5px;
  height: 200px;
  background: url("../img/official/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
}

.section-2 .right-container .contact {
  width: 100%;
  min-height: 200px;
}
.section-2 .right-container .contact .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.section-2 .right-container .contact .detail {
  margin-bottom: 10px;
  width: 60%;
  color: #ffffff99;
}
.section-2 .right-container .contact .detail .main {
  font-size: 1.1rem;
  margin-bottom: 2px;
  font-weight: 600;
  color: #ffffffec;
}

.section-2 .right-container .hours {
  width: 100%;
  min-height: 200px;
}
.section-2 .right-container .hours .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.section-2 .right-container .hours .detail {
  margin-bottom: 10px;
  color: #ffffff99;
}
.section-2 .right-container .hours .detail .main {
  font-size: 1.1rem;
  margin-bottom: 2px;
  font-weight: 600;
  color: #ffffffec;
}

@media (max-width: 940px) {
  .section-2 {
    flex-direction: column;
    align-items: center;
  }
  .section-2 .right-container {
    order: 1;
  }
  .section-2 .left-container {
    order: 2;
    width: 100%;
    min-height: 50vh;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .section-2 .left-container .title {
    font-size: 2rem;
    text-align: center;
  }
  .section-2 .left-container .form-container {
    width: 90%;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
  }
  .section-2 .left-container .form-container input {
    width: 100%;
  }
  .section-2 .left-container .form-container textarea {
    width: 100%;
    min-height: 150px;
    max-height: 300px;
  }
  .section-2 .map {
    order: 3;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    height: 300px;
  }
}
