.services {
  padding: 50px 0;
}
.services h1.title {
  text-align: center;
  margin-bottom: 50px;
}

.services .card {
  min-height: 200px;
  width: 80%;
  padding: 20px 15px 20px 30px;
  border-radius: 10px;
  background: var(--bgl);

  display: flex;
  align-items: flex-start;
  gap: 25px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  cursor: pointer;
  transition: 0.2s;
}

.services .card:hover {
  background: var(--bgll);
}

.services .card .image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.services .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.services .card .content {
  flex: 1;
  color: var(--fg);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services .card .content h1 {
  font-size: 1.5rem;
}
.services .card .content p {
  opacity: 0.9;
}
.services .card .content ul {
  padding-left: 60px;
}

.services .underline {
  width: 800px;
  height: 3px;
  border-radius: 1px;
  position: relative;
  margin: 50px 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bluell);
}

@media (max-width: 1000px) {
  .services .underline {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .services {
    padding: 40px 0;
  }
  .services h1.title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .services .card {
    width: 90%;
    flex-direction: column;
    padding: 30px 15px;
    gap: 15px;
  }
  .services .card .image {
    width: 300px;
  height: 300px;
  border-radius: 5px;
    align-self: center;
  }
  .services .card .content h1 {
    font-size: 1.3rem;
  }
  .services .card .content p {
    font-size: 0.9rem;
  }
  .services .card .content ul {
    padding-left: 30px;
  }
  .services .underline {
    margin: 30px 0;
    width: 250px;
  }
}