@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import "./home.css";
@import "./about.css";
@import "./services.css";
@import "./resources.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background: #111;
}

h1.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
    color: #efefef;
}

@media (max-width: 500px) {
    h1.title {
      font-size: 2rem;
      margin-bottom: 30px;
    }
}