@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import "./css/header.css";
@import "./css/home.css";
@import "./css/page2.css";
@import "./css/section2.css";
@import "./css/about.css";
@import "./css/services.css";
@import "./css/resources.css";
@import "./css/footer.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --bg: #111;
    --bgl: #191919;
    --bgll: #222;
    --fg: #efefef;
    --blue: #68a3c0;
    --bluel: #68a3c0c9;
    --bluell: #68a3c069;

    --primary-hsl: 200, 41%, 58%;
    --secondary-hsl: 0,0%,100%;
    --tertiary-hsl: 0,0%,60%;
    --primary: hsla(var(--primary-hsl),1);
    --secondary: hsla(var(--secondary-hsl),1);
    --tertiary: hsla(var(--tertiary-hsl),1);


    font-family: 'Nunito Sans', sans-serif;
    background: var(--bg);

}

h1.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
    color: var(--fg);
}

a, span{
    text-decoration: none;
    color: var(--fg);
  }
  
  .head-contact{
    width: 100%;
    height: 40px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  @media(max-width: 500px){
    .head-contact{
      height: 30px;
      font-size: 0.8rem;
    }
  }

@media (max-width: 500px) {
    h1.title {
      font-size: 2rem;
      margin-bottom: 30px;
    }
}
