{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- Menu and Pictures -->

    <div class="head-contact">
        <a href="1300465284">Call 1300 465 284</a>
        <span>|</span>
        <a href="info@steelrepublic.com.au">info@steelrepublic.com.au</a>
    </div>

    <div class="navbar">
        <a href="#" class="logo">
            <img src="{% static 'img/official/logo.png' %}" alt="Logo">
        </a>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu">
          <a href="{% url 'home' %}"> <div class="items">Home</div> </a>
          <a href="{% url 'about' %}"> <div class="items">About</div> </a>
          <a href="{% url 'services' %}"> <div class="items">Services</div> </a>
          <a href="{% url 'about' %}"> <div class="items">Resources</div> </a>
          <a href="{% url 'connect' %}"> <div class="spcl-items">Connect</div> </a>
        </div>
    </div>

    <!-- Image Section -->

    <div class="section-1">
        <h1 class="title">STEEL REPUBLIC FRAMES AND TRUSSES IS A LONG LASTING HIGH QUALITY FRAMING MEMBER</h1>
        <div class="btn-cont">
            <div class="btn">Contact Us</div>
            <div class="btn">About Us</div>
        </div>
        <img src="{% static 'img/official/3.jpg' %}" alt="Home Image">
    </div>

    <!-- About Us -->

    <div class="page2">
        <div class="content">
            <h1 class="title">STEEL REPUBLIC FRAMES AND TRUSSES</h1>
            <p>At STEEL REPUBLIC FRAMES AND TRUSSES we cover the building needs in a more efficient and sustainable way.<br/>

                STEEL REPUBLIC FRAMES AND TRUSSES is a steel frames manufacturing company who focused on the <br/> development of light gauge steel technology for the residential and commercial construction industries.<br/>
                
                At STEEL REPUBLIC FRAMES AND TRUSSES we offer solutions with increased strength, precise and has lower environmental impact. We are strong supporters of steel and green building, so we aim to make steel framing and trusses attainable to all.
                
                <br/>We are a team that’s inspired by steel frames and passionate about clients.</p>
        </div>
    </div>

    <div class="page2">
        <div class="content">
            <h1 class="title">OUR PRODUCT RANGE</h1>
            <p>Steel Republic Frames and Trusses offer durable, cost and time effective solutions for your building project.</p>
        </div>
    </div>

    <!-- Services and Solutions -->

    <div class="services">
      <h1 class="title">Services & Solutions</h1>

      <div class="card">
          <div class="image">
              <img src="{% static 'img/services/8.png' %}" alt="">
          </div>
          <div class="content">
              <h1>Metal Roof Truss</h1>
              <p>By creating a roof’s frame, metal roof truss determines  the shape of the roof and ceiling, 
                  while providing support for the roof. Trusses are pre-engineered in a factory using 
                  lightweight materials, like 2x4s, and are shipped to the construction site. Trusses consist 
                  of three main parts:
              </p>
              <ul>
                  <li>Top chords</li>
                  <li>Bottom chords (also known as I-joists, or ceiling joists)</li>
                  <li>Webbing/posts</li>
              </ul>
              <p>
                  Trusses are used as an alternative to rafters, or stick framing. Rafters are usually made 
                  from larger pieces of lumber, such as 2x8s or 2x10s, and require the skill of an expert 
                  carpenter to custom-build and install them directly on the job site. This makes rafters 
                  more expensive than trusses.
              </p>
          </div>
      </div>
      <div class="underline"></div>

      <div class="card">
          <div class="image">
              <img src="{% static 'img/official/2.jpg' %}" alt="">
          </div>
          <div class="content">
              <h1>Wall Frames</h1>
              <p>Wall frames are structural or non-structural building material for both external and partition walls in both residential, commercial and industrial construction projects. Which also includes curtain wall a form of frame for outer covering of a building in which the outer walls are non-structural, utilized only to keep the weather out and the occupants in. The development and widespread use of structural steel and later reinforced concrete allowed relatively small columns to support large loads. </p>
          </div>
      </div>
      <div class="underline"></div>

      <div class="card">
          <div class="image">
              <img src="{% static 'img/services/6.png' %}" alt="">
          </div>
          <div class="content">
              <h1>Floor Joist</h1>
              <p>Floor joists are horizontal structural members that span an open space, often between beams, which subsequently transfer the load to vertical structural members. These joists, part of the floor system, carry the weight of everything inside a room, including walls, furniture, appliances, and even people. Floor joists help distribute the load of a structure. </p>
          </div>
      </div>
      <div class="underline"></div>

      <div class="card">
          <div class="image">
              <img src="{% static 'img/services/2.png' %}" alt="">
          </div>
          <div class="content">
              <h1>Buckling – restrained Braced frame (BRBF)</h1>
              <p>A buckling-restrained brace (BRB) consists 
                  of a steel core surrounded by a hollow steel 
                  section, coated with a low-friction material, 
                  and then grouted with a specialized mortar. 
                  This provides lateral resistance to buckling, 
                  particularly during seismic activity.</p>
          </div>
      </div>
      <a href="{% url 'services' %}">
          <div class="btn">View More</div>
      </a>
  </div>

    <!-- Resources -->

    <div class="resources">
        <h1 class="title">Resources</h1>
        <div class="card-container">
            <div class="card">
                <i class="fas fa-book"></i>
                <h1 class="heading">Brochures</h1>
            </div>
            <div class="card">
                <i class="fas fa-balance-scale"></i>
                <h1 class="heading">Building & Trade</h1>
            </div>
            <div class="card">
                <i class="fas fa-briefcase"></i>
                <h1 class="heading">Technical</h1>
            </div>
            <div class="card">
                <i class="fas fa-film"></i>
                <h1 class="heading">Videos</h1>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer>
        <div class="container">
          <div class="design">
            <div class="title">Our Services</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items">Metal Roof Truss</div>
            <div class="items">Wall Frames</div>
            <div class="items">Floor Joist</div>
            <div class="items">Buckling – restrained Braced Frame</div>
          </div>
          <div class="design">
            <div class="title">Resources</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items">Brochures</div>
            <div class="items">Building & Trade</div>
            <div class="items">Technical</div>
            <div class="items">Videos</div>
          </div>
          <div class="design">
            <div class="title">Build with us</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items">Our Process</div>
            <div class="items">Where we build</div>
          </div>
          <div class="design contact">
            <div class="title">Connect</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items main">Phone</div>
            <div class="items">1300 465 284</div>
            <div class="items main">Office</div>
            <div class="items">10 Sovereign Place,
      South Windsor, 2756</div>
            <div class="items main">Email</div>
            <div class="items">info@steelrepublic.com.au</div>
          </div>
          <div class="social">
            <a href="#" target="_blank" class="social-btn">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#"  target="_blank" class="social-btn">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#"  target="_blank" class="social-btn">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#"  target="_blank" class="social-btn">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </div>
        </div>
        <div class="credits">
            <a href="#" class="logo">
                <img src="{% static 'img/official/logo.png' %}" alt="Logo">
            </a>
          <div class="claim">&copy; Copyright 2022 Steel Republic</div>
          <div class="docs">
            <a href="#">Privacy Policy </a>
            <span> | </span>
            <a href="#"> Terms & Conditions</a>
          </div>
        </div>
      </footer>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
