{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- Menu and Pictures -->

    <header>
        <a href="#" class="logo">
            <img src="{% static 'img/logo.jpeg' %}" alt="">
        </a>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu">
            <a href="{% url 'home' %}"> <div class="items">Home</div> </a>
            <a href="{% url 'about' %}"> <div class="items">About</div> </a>
            <a href="{% url 'about' %}"> <div class="items">Services</div> </a>
            <a href="{% url 'about' %}"> <div class="items">Resources</div> </a>
            <a href="{% url 'about' %}"> <div class="items">Connect</div> </a>
        </div>
    </header>

    <img class="img--main" src="{% static 'img/home2.jpg' %}" alt="">

    <!-- Home -->

    <div class="home">
        <div class="content">
            <h1 class="title">Home</h1>
            <p>We provide steel solutions for building 
                as vertical steel columns and 
                horizontal I-beams, constructed in a 
                rectangular grid to support the floors, 
                roof (truss) and walls of a building 
                which are all attached to the frame.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/home.png' %}" alt="">
        </div>
    </div>

    <!-- About Us -->

    <div class="about">
        <div class="content">
            <h1 class="title">About Us</h1>
            <p>STEEL REPUBLIC FRAMES AND TRUSSES is 
                an Australian steel manufacturing company 
                which provides steel frames and trusses. 
                We provide steel solutions for building as 
                vertical steel columns and horizontal I-beams, 
                constructed in a rectangular grid to support 
                the floors, roof (truss) and walls of a building 
                which are all attached to the frame.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/about.png' %}" alt="">
        </div>
    </div>

    <!-- Services and Solutions -->

    <div class="services">
        <h1 class="title">Services & Solutions</h1>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/1.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Cold – formed steel frames</h1>
                <p>Cold-formed steel frames are also known as lightweight steel framing (LSF).  
                    The Thin sheets of galvanized steel can be cold formed into steel studs for use as a 
                    structural or non-structural building material for both external and partition walls in both 
                    residential, commercial and industrial construction projects.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/2.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Buckling – restrained Braced frame (BRBF)</h1>
                <p>A buckling-restrained brace (BRB) consists 
                    of a steel core surrounded by a hollow steel 
                    section, coated with a low-friction material, 
                    and then grouted with a specialized mortar. 
                    This provides lateral resistance to buckling, 
                    particularly during seismic activity.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/3.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Curtain Wall (architecture)</h1>
                <p>A curtain wall is an outer covering of a 
                    building in which the outer walls are 
                    non-structural, utilized only to keep the 
                    weather out and the occupants in. The 
                    development and widespread use of 
                    structural steel and later reinforced concrete 
                    allowed relatively small columns to support 
                    large loads.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/4.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Structural Steel</h1>
                <p>They are used for making construction 
                    materials in a variety of shapes. Many 
                    structural steel shapes take the form of an 
                    elongated beam having a profile of a specific 
                    cross section. Structural steel shapes, sizes, 
                    chemical composition, mechanical properties 
                    such as strengths, storage practices, etc.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/5.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Space Truss structure</h1>
                <p>Space frame/ Space structure allows odd 
                    placement of columns, along with integral 
                    cladding and glazing. It is capable of bearing 
                    heavy loadings with minimum deflections. The 
                    cost of transportation is less as compared to 
                    conventional steel structures.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/6.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Light Gauge Steel</h1>
                <p>Light Gauge Framing System (LGFS) or Light 
                    gauge Steel framing (LGSF) is a construction 
                    technology using cold-formed steel as the 
                    construction material. It can be used for roof 
                    systems, floor systems, wall systems, roof 
                    panels, decks, or the entire buildings.</p>
            </div>
        </div>
        <div class="underline"></div>
        
        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/7.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Framing Systems</h1>
                <p>Framing, in construction, is the fitting together of pieces to give a structure support 
                    and shape.
                    Building framing is divided into two broad categories, 
                    heavy-frame construction (heavy framing) if the vertical supports and light-frame 
                    construction (light-framing) if the supports are more numerous and smaller, 
                    such as balloon, platform, or light-steel framing.</p>
            </div>
        </div>
        <div class="underline"></div>
        
        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/8.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Metal Roof Truss</h1>
                <p>By creating a roof’s frame, metal roof truss determines  the shape of the roof and ceiling, 
                    while providing support for the roof. Trusses are pre-engineered in a factory using 
                    lightweight materials, like 2x4s, and are shipped to the construction site. Trusses consist 
                    of three main parts:
                </p>
                <ul>
                    <li>Top chords</li>
                    <li>Bottom chords (also known as I-joists, or ceiling joists)</li>
                    <li>Webbing/posts</li>
                </ul>
                <p>
                    Trusses are used as an alternative to rafters, or stick framing. Rafters are usually made 
                    from larger pieces of lumber, such as 2x8s or 2x10s, and require the skill of an expert 
                    carpenter to custom-build and install them directly on the job site. This makes rafters 
                    more expensive than trusses.
                </p>
            </div>
        </div>
        <div class="underline"></div>
        
        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/9.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Framing Systems</h1>
                <p>Framing, in construction, is the fitting together of pieces to give a structure support 
                    and shape.
                    Building framing is divided into two broad categories, 
                    heavy-frame construction (heavy framing) if the vertical supports and light-frame 
                    construction (light-framing) if the supports are more numerous and smaller, 
                    such as balloon, platform, or light-steel framing.</p>
            </div>
        </div>
        <div class="underline"></div>
    </div>

    <!-- Resources -->

    <div class="resources">
        <h1 class="title">Resources</h1>
        <div class="card-container">
            <div class="card">
                <i class="fas fa-book"></i>
                <h1 class="heading">Brochures</h1>
            </div>
            <div class="card">
                <i class="fas fa-balance-scale"></i>
                <h1 class="heading">Building & Trade</h1>
            </div>
            <div class="card">
                <i class="fas fa-briefcase"></i>
                <h1 class="heading">Technical</h1>
            </div>
            <div class="card">
                <i class="fas fa-film"></i>
                <h1 class="heading">Videos</h1>
            </div>
        </div>
    </div>
    
    <script src="./js/index.js"></script>
</body>
</html>
