{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- Menu and Pictures -->

    <div class="head-contact">
        <a href="1300465284">Call 1300 465 284</a>
        <span>|</span>
        <a href="quotes@steelrepublic.com.au">quotes@steelrepublic.com.au</a>
    </div>

    <div class="navbar">
        <a href="#" class="logo">
            <img src="{% static 'img/official/logo.png' %}" alt="Logo">
        </a>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu">
          <a href="./index.html" target="__blank"> <div class="items">Home</div> </a>
          <a href="./page2.html" target="__blank"> <div class="items">About</div> </a>
          <a href="./page2.html" target="__blank"> <div class="items">Services</div> </a>
          <a href="./page2.html" target="__blank"> <div class="items">Resources</div> </a>
          <a href="./page2.html" target="__blank"> <div class="items">Connect</div> </a>
        </div>
    </div>

    <!-- Image Section -->

    <div class="section-1">
        <h1 class="title">STEEL REPUBLIC FRAMES AND TRUSSES IS A LONG LASTING HIGH QUALITY FRAMING MEMBER</h1>
        <div class="btn-cont">
            <div class="btn">Contact Us</div>
            <div class="btn">About Us</div>
        </div>
        <img src="{% static 'img/official/3.jpg' %}" alt="Home Image">
    </div>

    <!-- About Us -->

    <div class="page2">
        <div class="content">
            <h1 class="title">STEEL REPUBLIC FRAMES AND TRUSSES</h1>
            <p>At STEEL REPUBLIC FRAMES AND TRUSSES we cover the building needs in a more efficient and sustainable way.<br/>

                STEEL REPUBLIC FRAMES AND TRUSSES is a steel frames manufacturing company who focused on the <br/> development of light gauge steel technology for the residential and commercial construction industries.<br/>
                
                At STEEL REPUBLIC FRAMES AND TRUSSES we offer solutions with increased strength, precise and has lower environmental impact. We are strong supporters of steel and green building, so we aim to make steel framing and trusses attainable to all.
                
                <br/>We are a team that’s inspired by steel frames and passionate about clients.</p>
        </div>
    </div>

    <div class="page2">
        <div class="content">
            <h1 class="title">OUR PRODUCT RANGE</h1>
            <p>Steel Republic Frames and Trusses offer durable, cost and time effective solutions for your building project.</p>
        </div>
    </div>

    <!-- Services and Solutions -->

    <div class="services">
        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/1.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Cold – formed steel frames</h1>
                <p>Cold-formed steel frames are also known as lightweight steel framing (LSF).  
                    The Thin sheets of galvanized steel can be cold formed into steel studs for use as a 
                    structural or non-structural building material for both external and partition walls in both 
                    residential, commercial and industrial construction projects.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/2.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Buckling – restrained Braced frame (BRBF)</h1>
                <p>A buckling-restrained brace (BRB) consists 
                    of a steel core surrounded by a hollow steel 
                    section, coated with a low-friction material, 
                    and then grouted with a specialized mortar. 
                    This provides lateral resistance to buckling, 
                    particularly during seismic activity.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/3.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Curtain Wall (architecture)</h1>
                <p>A curtain wall is an outer covering of a 
                    building in which the outer walls are 
                    non-structural, utilized only to keep the 
                    weather out and the occupants in. The 
                    development and widespread use of 
                    structural steel and later reinforced concrete 
                    allowed relatively small columns to support 
                    large loads.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/4.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Structural Steel</h1>
                <p>They are used for making construction 
                    materials in a variety of shapes. Many 
                    structural steel shapes take the form of an 
                    elongated beam having a profile of a specific 
                    cross section. Structural steel shapes, sizes, 
                    chemical composition, mechanical properties 
                    such as strengths, storage practices, etc.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/5.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Space Truss structure</h1>
                <p>Space frame/ Space structure allows odd 
                    placement of columns, along with integral 
                    cladding and glazing. It is capable of bearing 
                    heavy loadings with minimum deflections. The 
                    cost of transportation is less as compared to 
                    conventional steel structures.</p>
            </div>
        </div>
        <div class="underline"></div>

        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/6.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Light Gauge Steel</h1>
                <p>Light Gauge Framing System (LGFS) or Light 
                    gauge Steel framing (LGSF) is a construction 
                    technology using cold-formed steel as the 
                    construction material. It can be used for roof 
                    systems, floor systems, wall systems, roof 
                    panels, decks, or the entire buildings.</p>
            </div>
        </div>
        <div class="underline"></div>
        
        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/7.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Framing Systems</h1>
                <p>Framing, in construction, is the fitting together of pieces to give a structure support 
                    and shape.
                    Building framing is divided into two broad categories, 
                    heavy-frame construction (heavy framing) if the vertical supports and light-frame 
                    construction (light-framing) if the supports are more numerous and smaller, 
                    such as balloon, platform, or light-steel framing.</p>
            </div>
        </div>
        <div class="underline"></div>
        
        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/8.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Metal Roof Truss</h1>
                <p>By creating a roof’s frame, metal roof truss determines  the shape of the roof and ceiling, 
                    while providing support for the roof. Trusses are pre-engineered in a factory using 
                    lightweight materials, like 2x4s, and are shipped to the construction site. Trusses consist 
                    of three main parts:
                </p>
                <ul>
                    <li>Top chords</li>
                    <li>Bottom chords (also known as I-joists, or ceiling joists)</li>
                    <li>Webbing/posts</li>
                </ul>
                <p>
                    Trusses are used as an alternative to rafters, or stick framing. Rafters are usually made 
                    from larger pieces of lumber, such as 2x8s or 2x10s, and require the skill of an expert 
                    carpenter to custom-build and install them directly on the job site. This makes rafters 
                    more expensive than trusses.
                </p>
            </div>
        </div>
        <div class="underline"></div>
        
        <div class="card">
            <div class="image">
                <img src="{% static 'img/services/9.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Framing Systems</h1>
                <p>Framing, in construction, is the fitting together of pieces to give a structure support 
                    and shape.
                    Building framing is divided into two broad categories, 
                    heavy-frame construction (heavy framing) if the vertical supports and light-frame 
                    construction (light-framing) if the supports are more numerous and smaller, 
                    such as balloon, platform, or light-steel framing.</p>
            </div>
        </div>
        <div class="underline"></div>
    </div>

    <!-- Resources -->

    <div class="resources">
        <h1 class="title">Resources</h1>
        <div class="card-container">
            <div class="card">
                <i class="fas fa-book"></i>
                <h1 class="heading">Brochures</h1>
            </div>
            <div class="card">
                <i class="fas fa-balance-scale"></i>
                <h1 class="heading">Building & Trade</h1>
            </div>
            <div class="card">
                <i class="fas fa-briefcase"></i>
                <h1 class="heading">Technical</h1>
            </div>
            <div class="card">
                <i class="fas fa-film"></i>
                <h1 class="heading">Videos</h1>
            </div>
        </div>
    </div>

    <!-- Contact -->

    <div class="section-2">
        <div class="left-container">
          <h1 class="title">We are Happy to help you !</h1>
          <div class="form-container">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Email Address" />
            <input type="text" placeholder="Phone" />
            <input type="text" placeholder="State" />
            <input type="text" placeholder="Current Suburb" />
            <input type="text" placeholder="Post Code" />
            <input type="text" placeholder="Building Location" />
            <input type="text" placeholder="How did you hear about us ?" />
            <textarea placeholder="Message"></textarea>
            <input type="submit" value="Submit" />
          </div>
        </div>
        <div class="right-container">
          <div class="image"></div>
  
          <div class="contact">
            <h1 class="title">Contact</h1>
            <div class="detail">
              <div class="main">Phone</div>
              <div class="sub">1300 500 400</div>
            </div>
            <div class="detail">
              <div class="main">Fax</div>
              <div class="sub">(02) 4000 6000</div>
            </div>
            <div class="detail">
              <div class="main">Head Office</div>
              <div class="sub">10 Sovereign Place, South Windsor, 2756</div>
            </div>
          </div>
  
          <div class="hours">
            <h1 class="title">Hours</h1>
            <div class="detail">
              <div class="main">Office Opening Hours</div>
              <div class="sub">Monday - Friday : 8.30AM - 5PM</div>
            </div>
            <div class="detail">
              <div class="main">Display Home Hours</div>
              <div class="sub">Monday - Sunday : 10AM - 5PM</div>
              <div class="sub">Or by appointment</div>
            </div>
          </div>
        </div>
        <div class="map">
          <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5532.0049135669615!2d151.21200001450015!3d-33.85910491823105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae665e892fdd%3A0x3133f8d75a1ac251!2sSydney%20Opera%20House!5e0!3m2!1sen!2sin!4v1633150117036!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>

    <!-- Footer -->

    <footer>
        <div class="container">
          <div class="design">
            <div class="title">Our Services</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items">Cold – formed steel frames</div>
            <div class="items">Buckling – restrained Braced frame (BRBF)</div>
            <div class="items">Curtain Wall (architecture)</div>
            <div class="items">Structural Steel</div>
            <div class="items">Space Truss structure</div>
            <div class="items">Light Gauge Steel</div>
            <div class="items">Framing Systems</div>
            <div class="items">Metal Roof Truss</div>
          </div>
          <div class="design">
            <div class="title">Resources</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items">Brochures</div>
            <div class="items">Building & Trade</div>
            <div class="items">Technical</div>
            <div class="items">Videos</div>
          </div>
          <div class="design">
            <div class="title">Build with us</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items">Our Process</div>
            <div class="items">Where we build</div>
          </div>
          <div class="design contact">
            <div class="title">Connect</div>
            <div class="expand-btn">
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="items main">Phone</div>
            <div class="items">1300 465 284</div>
            <div class="items main">Office</div>
            <div class="items">10 Sovereign Place,
      South Windsor, 2756</div>
            <div class="items main">Email</div>
            <div class="items">quotes@steelrepublic.com.au</div>
          </div>
          <div class="social">
            <a href="#" target="_blank" class="social-btn">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#"  target="_blank" class="social-btn">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#"  target="_blank" class="social-btn">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#"  target="_blank" class="social-btn">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </div>
        </div>
        <div class="credits">
            <a href="#" class="logo">
                <img src="{% static 'img/official/logo.png' %}" alt="Logo">
            </a>
          <div class="claim">&copy; Copyright 2022 Steel Republic</div>
          <div class="docs">
            <a href="#">Privacy Policy </a>
            <span> | </span>
            <a href="#"> Terms & Conditions</a>
          </div>
        </div>
      </footer>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
